
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>register</title>
    <link rel="stylesheet" href="/static/style3.css">

  </head>
  <body>
    <section id="form" >

      <div align="center" class="container">
        <div align="right" class="back"><a href="exetera.htm">back</a>


        </div>
<h1>REGISTER HERE</h1>
<br>
  <div class="contact-form">


  <form id="contact-form" method="post" action="/register/">


 <input type="text" id="fname" class="form-control" name="name" placeholder="Your name" required>
 <br>



  <select type="text" class="form-control1"name="college" placeholder="college">
  <option value="college" selected>college</option>
 <option value="volvo">government engineering college trissur</option>
 <option value="saab">cec</option>
 <option value="fiat">cet</option>
 <option value="audi">geck</option>
</select>

<input type="text" id="mail" name="mail" class="form-control" placeholder="email"  required>
<br>

<input type="text" id="member" name="member" class="form-control" placeholder="IEEE member or not"  required>
<br>
<input type="text" id="member" name="memberid" class="form-control" placeholder="membership id"  required>
<br>
<input type="text" id="mob" name="mob" class="form-control" placeholder="Mobile"  required>
<br>
<select type="text" id="tshirt" name="tshirt" class="form-control1" placeholder="T-shirt size"  required>
  <option selected>T-shirt size</option>
  <option>S</option>
  <option>M</option>
  <option>L</option>
  <option>XL</option>
</select>
<br>
<select type="text" id="food" name="mob" class="form-control1" placeholder="food"  required>
  <option value="food" selected>food</option>
  <option  value="veg">veg</option>
  <option value="non">non-veg</option>
</select>
<br>
<select type="text" id="Accomadation" name="acco" class="form-control1" placeholder="Accomadation"  required>
  <option value="acco" selected>Accomadation</option>
  <option  value="yes">yes</option>
  <option value="no">no</option>
</select>
<br>
 <input type="submit" class="submit btn btn-primary" value="Register">
</form>
</div>
</div>
</section>
  </body>
</html>
