{% extends "base.html" %}

{% block title-section %} Registration {% endblock %}

{% block body-section %}
    <div class="row" style="margin-bottom: 10vh">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form action="" method="post" role="form">
                {%  csrf_token %}
                <legend>Register Now</legend>

                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="name" id="" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="">College</label>
                    <select name="college" id="inputID" class="form-control">
                    <option value="0"> -- Select One --</option>
                    <option value="GECT">Government Engineering College Thrissur</option>
                    <option value="Albeterian">Albeterian Institute Of Science And Technology, Kalamassery</option>
                    <option value="Amal Jyothi">Amal Jyothi College of Engineering, Kottayam</option>
                    <option value="Adisankara">Adisankara Institute Of Science And Technology, Kalady</option>
                    <option value="Cherthala">College Of Engineering Cherthala</option>
                    <option value="Chengannoor">College Of Engineering Chengannoor</option>
                    <option value="Kidangoor">College Of Engineering Kidangoor</option>
                    <option value="Munnar">College Of Engineering Munnar</option>
                    <option value="Poonjar">College Of Engineering Poonjar</option>
                    <option value="CUSAT, Kalamassery">CUSAT, Kalamassery</option>
                    <option value="FISAT">FISAT, Angamaly</option>
                    <option value="Model">Government Model Engineering College, Thrikakkara</option>
                    <option value="IES">IES College of Engineering, Chittilappilly</option>
                    <option value="MACE">Mar Athanasius College of Engineering (MACE), Kothamangalam</option>
                    <option value="MBCCE Peermade">Mar Baselios Christian College of Engineering and Technology, Peermade</option>
                    <option value="Muthoot">Muthoot Institute of Technology & Science, Puthenkurish</option>
                    <option value="Rajagiri">Rajagiri School of Engineering and Technology</option>
                    <option value="rit">Rajiv Gandhi Institute of Technology, Kottayam</option>
                    <option value="sahrdaya">Sahrdaya College of Engineering and Technology, Kodakara</option>
                    <option value="Saintgits">Saintgits, Kottyam</option>
                    <option value="SCMS">SCMS School Of Engineering And Technology, Karakutty</option>
                    <option value="Sree Buddha">Sree Buddha College of Engineering</option>
                    <option value="St. Joseph's Palai">St. Joseph's College of Engineering and Technology, Palai</option>
                    <option value="toch">Toc H Institute of Science & Technology, Arakkunam</option>
                    <option value="university college">University College of Engineering, Thodupuzha</option>
                    <option value="Viswajyothi">Viswajyothi College of Engineering, Vazhakulam</option>
                    <option value="GECK">Government Engineering College Idukki</option>
                    <option value="Viswajyothi">Jyothi Engineering College</option>
                    <option value="Mangalam">Mangalam College of Engineering</option>
                    <option value="Vidya">Vidya Academy Of Science & Tech</option>
                    <option value="sree Narayana">Sree Narayana Gurukulam College Of Engineering</option>
                    <option value="UKF">UKF COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option value="Amrita Vishwa Vidyapeetham">Amrita Vishwa Vidyapeetham</option>
                    <option value="MARIAN">MARIAN ENGINEERING COLLEGE </option>
                    <option value="MOUNT ZION ">MOUNT ZION COLLEGE OF ENGINEERING</option>
                    <option value="cet">COLLEGE OF ENGINEERING-TRIVANDRUM</option>
                    <option value="ADOOR">COLLEGE OF ENGINEERING-ADOOR</option>
                    <option value="ATTINGAL">COLLEGE OF ENGINEERING-ATTINGAL</option>
                    <option value="BISHOP JEROME INSTITUTE , KOLLAM">BISHOP JEROME INSTITUTE , KOLLAM</option>
                    <option value="College of Engineering pathanapuram">College of Engineering pathanapuram </option>
                    <option value="GECB">GOVERNMENT ENGINEERING COLLEGE-BARTON HILL</option>
                    <option value="JOHN COX MEMORIAL CSI">JOHN COX MEMORIAL CSI INSTITUTE OF TECHNOLOGY</option>
                    <option value="Mohandas College">Mohandas College of Engineering and Technology</option>
                    <option value="PERUMON">COLLEGE OF ENGINEERING PERUMON</option>
                    <option value="THANGAL KUNJU MUSALIAR COLLEGE OF ENGINEERING">THANGAL KUNJU MUSALIAR COLLEGE OF ENGINEERING</option>
                    <option value="THANGAL KUNJU MUSALIAR INSTITUTE OF TECHNOLOGY">THANGAL KUNJU MUSALIAR INSTITUTE OF TECHNOLOGY</option>
                    <option value="LBS INSTITUTE OF TECHNOLOGY FOR WOMEN">LBS INSTITUTE OF TECHNOLOGY FOR WOMEN</option>
                    <option value="CAARMEL ENGINEERING COLLEGE">CAARMEL ENGINEERING COLLEGE</option>
                    <option value="SCT">SREE CHITRA THIRUNAL COLLEGE OF ENGINEERING</option>
                    <option value="MAR BASELIOS COLLEGE OF ENGINEERING AND TECHNOLOGY">MAR BASELIOS COLLEGE OF ENGINEERING AND TECHNOLOGY</option>
                    <option value="COLLEGE OF ENGINEERING-KARUNAGAPPALLY">COLLEGE OF ENGINEERING-KARUNAGAPPALLY</option>
                    <option value="COLLEGE OF ENGINEERING-KOTTARAKKARA">COLLEGE OF ENGINEERING-KOTTARAKKARA</option>
                    <option value="Aryanet">Aryanet Institute of Technology AIT - Mundur,Palakkad</option>
                    <option value="Trikaripur">College of Engineering Trikaripur - KASARAGOD</option>
                    <option value="GECP">Gov Eng College - Sreekrishnapuram</option>
                    <option value="GECK">Government College of Engineering - Kannur</option>
                    <option value="Government Engineering College - Calicut">Government Engineering College - Calicut</option>
                    <option value="Government Engineering College-Wayanad">Government Engineering College-Wayanad</option>
                    <option value="K M C T">K M C T College of Engineering - Calicut</option>
                    <option value="MEA Engineering College - Perinthalmanna">MEA Engineering College - Perinthalmanna</option>
                    <option value="MES">MES College Of Engineering - Malappuram</option>
                    <option value="NIT">National Inst of Tech Calicut</option>
                    <option value="NSSP">NSS College of Enngineering</option>
                    <option value="Sreepathy">Sreepathy Institute of Management & Technology - Vavanoor, Koottanad</option>
                    <option value="Vimal jyothi">Vimal Jyothi Engineering College - Kannur</option>
                    <option value="LBS KASARAGOD">LBS College of Engineering, Kasargod (LBS)</option>
                    <option value="(COE, Vadakara)">College of Engineering, Vadakara (COE, Vadakara)</option>
                    <option value="(SNGC Payyannur)">Sree Narayana Guru College of Engineering and Technology, Payyannur (SNGC)</option>
                    <option value="JCET Palakkad">Jawaharlal College of Engineering and Technology, Palakkad (JCET)</option>
                    <option value="AWH ">AWH College of Engineering, Calicut (AWH)</option>
                    <option value="NIELIT">National Institute of Electronics and Information Technology, Calicut (NIELIT)</option>
                    <option value="Government College of Engineering - Thalessery">Government College of Engineering - Thalessery</option>




                </select>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" class="form-control" name="phone" id="" placeholder="Phone">
                </div>

                <div class="form-group">
                    <label for="" style="margin-right: 3vw">Is IEEE Member</label>
                    Yes
                    <input type="radio" name="ieee_member" id="inputID" value="1" checked="checked" style="margin-right: 3vw">
                    No
                    <input type="radio" name="ieee_member" id="inputID" value="0" >
                </div>
                <div class="form-group">
                    <label for="">Member ID <small>( only applicable for existing members )</small></label>
                    <input type="text" class="form-control" name="member_id" id="" placeholder="Member ID">
                </div>
                <div class="form-group">
                    <label for="">T-Shirt Size </label>
                    <select name="tshirt" id="inputID" class="form-control">
                        <option value="0"> -- Select One --</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" style="margin-right: 3vw">Food</label>
                    Vegetarian
                    <input type="radio" name="is_veg" id="inputID" value="1" checked="checked" style="margin-right: 3vw">
                    Non - Vegetarian
                    <input type="radio" name="is_veg" id="inputID" value="0" >
                </div>
                <div class="form-group">
                    <label for="" style="margin-right: 3vw">Accommodation</label>
                    Yes
                    <input type="radio" name="accom_needed" id="inputID" value="1" checked="checked" style="margin-right: 3vw">
                    No
                    <input type="radio" name="accom_needed" id="inputID" value="0" >
                </div>
                <div class="form-group">
                    <label for="">Referral Code <small>(optional)</small></label>
                    <input type="text" class="form-control" name="referral_code" id="" placeholder="Referral Code">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}
