{% extends "base.html" %}

{% block title-section %}
Registration Success
{% endblock %}

{% block body-section %}

    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="jumbotron">
                <div class="container">
                    <h1>Saved</h1>
                    <p>Your details have been saved. Now proceed for payment</p>
                    <p>
{#                        ieee members#}
                        <button onclick="popup('innovance-19-414120');" class="tsbutton btn btn-primary btn-lg">Pay Now</button><noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript><script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>

{#                    non ieee #}
                    <!--
                    <button onclick="popup('innovance-19-443244');" class="tsbutton btn btn-primary btn-lg">Register Now</button><noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript><script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>
                    -->
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}