{% extends "base.html" %}

{% block title-section %}
Registration Success
{% endblock %}

{% block body-section %}

    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="jumbotron">
                <div class="container">
                    <h1>Success</h1>
                    <p>Your Registration has successfully completed</p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="/">Back to Home</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}